---
import { siteConfig } from "../config/content";
---

<!-- Footer Component -->
<section class="relative text-gray-700">
  <div
    class="container flex flex-col items-center justify-center min-h-[40px] mx-auto px-7 max-w-7xl sm:flex-row sm:min-h-[50px] bg-transparent py-4"
  >
    <a
      class="h-5 text-base group relative z-30 flex items-center space-x-1.5 text-neutral-700 dark:text-neutral-300 font-semibold"
      href="/"
    >
      <span
        class="text-xl -translate-y-0.5 group-hover:-rotate-12 group-hover:scale-[1.2] ease-in-out duration-300"
        >✦</span
      >
      <span class="-translate-y-0.5">Rolando Roja</span>
    </a>

    <p
      class="mt-2 text-sm text-neutral-700 dark:text-neutral-300 sm:ml-4 sm:pl-4 sm:border-l sm:border-neutral-700 dark:sm:border-neutral-300 sm:mt-0"
    >
      © 2025 Rolando Roja. All rights reserved.
    </p>

    <span
      class="inline-flex justify-center mt-2 space-x-5 sm:ml-auto sm:mt-0 sm:justify-start"
    >
      <!-- LinkedIn -->
      <a
        href={siteConfig.social.Linkedin}
        target="_blank"
        rel="noopener noreferrer"
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">LinkedIn</span>
        <svg
          class="w-5 h-5"
          viewBox="0 0 24 24"
          fill="currentColor"
          aria-hidden="true"
        >
          <path
            d="M20.447 20.452H17.2v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.07V9h3.112v1.561h.045c.433-.82 1.492-1.686 3.07-1.686 3.287 0 3.894 2.164 3.894 4.977v6.6ZM5.337 7.433a1.85 1.85 0 1 1 0-3.7 1.85 1.85 0 0 1 0 3.7ZM6.956 20.452H3.72V9h3.236v11.452Z"
          />
        </svg>
      </a>

      <!-- Email (fix: force mailto:) -->
      <a
        href={`mailto:${siteConfig.social.email}`}
        class="text-neutral-500 dark:text-neutral-400 hover:text-neutral-400 dark:hover:text-neutral-300"
      >
        <span class="sr-only">Email</span>
        <svg
          class="w-5 h-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"
          ></path>
        </svg>
      </a>
    </span>
  </div>
</section>